<!--include header-->
<%- include('include/_header')%>
<!--/include header-->
     <!--MainSite-->
    <main id="side-main">
        <div class="container">
            <div class="box-nav d-flex-between">
                <div class="filter">
                    <a href="/admin"><i class="fas fa-angle-double-left"></i>All Users</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">
                <span class="text-dark">Update User</span>
                </h2>
            </div>
            <!--form handling-->
            <!--include form-->
               <!--form handling-->
   <form action="/api/users/update" method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="firstName" class="text-dark">First Name</label>
            <input type="hidden" name="id" value="<%=user.userId%>">
            <input type="text" name="firstName" value="<%=user.firstName%>" placeholder="First Name" maxlength="20" minlength="2" required>
        </div>
        <div class="form-group">
            <label for="lastName" class="text-dark">Last Name</label>
            <input type="text" name="lastName" value="<%=user.lastName%>" placeholder="Last Name" maxlength="20" minlength="2" required>
        </div>
        <div class="form-group">
            <label for="address" class="text-dark">Address</label>
            <input type="text" name="address" value="<%=user.address%>" placeholder="Address" maxlength="40" minlength="2" required>
        </div>
        <div class="form-group">
            <label for="email" class="text-dark">Email</label>
            <input type="email" name="email" value="<%=user.emailAddress%>" placeholder="Email Address" maxlength="40" required>
        </div>

        <div class="form-group">
            <label for="role" class="text-dark">Roles</label>
            <div class="radio inline">
                <input type="radio" id="radio-1" name="role" value="basic"<%= user.role=="basic"?'checked':''%>>
                <label for="radio-1" class="radio-label">Basic</label>
            </div>

            <div class="radio inline">
                <input type="radio" id="radio-2" name="role" value="admin"<%= user.role=="admin"?'checked':''%>>
                <label for="radio-2" class="radio-label">Admin</label>
            </div>

            <div class="radio inline">
                <input type="radio" id="radio-3" name="role" value="donor"<%= user.role=="donor"?'checked':''%>>
                <label for="radio-3" class="radio-label">Donor</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Update User</button>
        </div>
    </div>
</form>
            <!--/include form-->

        </div>
    </main>
    <!--/MainSite-->
<!--include footer-->
    <%- include('include/_footer')%>
<!--/include footer-->